.chatList {
  &__header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #c6c6c6;
  }
  &__avatar {
    padding: 1.1em 0 0 1.5em;
  }

  &__search {
    justify-content: center;
    display: flex;
    position: relative;
    
    input {
      width: 180%;
      padding-left:2.4em;
      border-radius: 50px;
      border: 1px solid #c1c1c1;
      height: 2.8em;
      margin: 2.5em 2em 2.4em 1.5em;

      // background-image: url('https://w7.pngwing.com/pngs/410/185/png-transparent-magnifying-glass-computer-icons-magnifying-glass-glass-art-symbol.png');
    }

    &_icon {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 2.55em;
      left: -0.1em;
      margin-left: 30px;
      order: -1;
      background:white;

    }
  }
}